extends layout

block content
    h1 Oh, no.
    p You'll never know, if you don't click accept. Perhaps another go?
    a.button.large.secondary(href="https://api.23andme.com/authorize/?redirect_uri=#{redirect_uri}&response_type=code&client_id=#{client_id}&scope=#{scope}")
        img.logo(src="/images/23andMe-logo.png", width="30px", height="30px")
        span I suppose.

